<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Musicians and Orchestras Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center my-4 display-4 font-weight-bold text-dark">Welcome to Musician and Orchestra Management</h1>
        <div class="d-flex justify-content-center">
            <a href="/musicians/view-list" class="btn btn-primary mr-2">Musicians List</a>
            <a href="/orchestras/view-list" class="btn btn-primary">Orchestras List</a>
        </div>
    </div>
</body>

</html>