<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Musicians</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center my-4 display-4 font-weight-bold text-dark">Musicians List</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Birthdate</th>
                    <th>Email</th>
                    <th>Instrument</th>
                    <th>Orchestra Id</th>
                    <th>orchestra Name</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr th:each="musician : ${musicians}">
                    <td th:text="${musician.id}"></td>
                    <td th:text="${musician.firstname + ' ' + musician.lastname}"></td>
                    <td th:text="${musician.birthdate}"></td>
                    <td th:text="${musician.email}"></td>
                    <td th:text="${musician.instrument}"></td>
                    <td th:text="${musician.orchestraId}"></td>
                    <td th:text="${musician.orchestraName}"></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>