<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Orchestras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center my-4 display-4 font-weight-bold text-dark">Orchestras List</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Estile</th>
                    <th>Conductor</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="orchestra : ${orchestras}">
                    <td th:text="${orchestra.id}"></td>
                    <td th:text="${orchestra.name}"></td>
                    <td th:text="${orchestra.city}"></td>
                    <td th:text="${orchestra.country}"></td>
                    <td th:text="${orchestra.estile}"></td>
                    <td th:text="${orchestra.conductor}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>